@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Josefin+Sans:300');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Mono", monospace;
}

body.light-theme {
    background-color: #f2f2f2;
}
body.dark-theme {
    background-color: #1d1f21;
}

a {
    text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

nav {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    width: 100vw;
    height: auto;
    padding: 1.2em 1em 1em 1em;
    z-index: 10;

    transition: transform 0.15s ease-out;
    transform: translateY(0);
}
nav.hidden {
    transform: translateY(-120%);
}
.light-theme nav {
    background: #f2f2f2;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}
.dark-theme nav {
    background: #1d1f21;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.8);
}

nav a {
    position: relative;
    font-size: 1rem;
    color: #81a2be;
    margin: 0em 1em;
    cursor: pointer;
}
nav a:hover {
    color: #b294bb;
}

#nav-name {
    font-family: 'Josefin Sans', monospace;
    font-weight: 300;
    font-size: 2rem;
    margin: 0 auto 0 0.5em;
    transform: translateY(0.08em);
    cursor: pointer;
}
#nav-name span {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    opacity: 0.6;
}

.theme-toggles {
    position: relative;
    display: block;
    margin: 0em 1em;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
.theme-toggles * {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 50%;
    transition: transform 0.2s ease-out;
    transform: rotate(0);
}
.light-theme #nav-theme-dark, .dark-theme #nav-theme-light {
    opacity: 0;
    pointer-events: none;
    transform: rotate(90deg);
}
.light-theme #nav-theme-light {
    color: #1d1f21;
}
.dark-theme #nav-theme-dark {
    color: #ffffff;
}

.light-theme #nav-name {
    color: #1d1f21;
}
.dark-theme #nav-name {
    color: #ffffff;
}

.card-container {
    width: 60%;
    height: auto;
}

.card {
    transition: .2s ease background;
    grid-column: span 12;
}
.card li {
    overflow: auto;

}
.card li:before {
    content: '-';
}
.problem-solution-links {
    float: right;
}

#global-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 3em;
}

#assignments {
    font-family: 'Josefin Sans', monospace;
    font-weight: 300;
    font-size: 3.5rem;
    text-align: center;
}

.light-theme #assignments {
    color: #1d1f21;
}
.dark-theme #assignments {
    color: #ffffff;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4em 0em 4em 0em;
}

#logo {
    width: auto;
    height: 6rem;
    transition: .5s ease;
    margin-bottom: .5em;
}

.light-theme #logo, #logo:hover {
    filter: invert(100%);
}

.light-theme #logo:hover {
    filter: invert(0%);
}

.accordion {
    position: relative;
    cursor: pointer;
}
.accordion .card {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.accordion .card-title {
    position: relative;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}
.accordion .card-title:after {
    content: '+';
    float: right;
    text-align: right;
    font-size: 1em;
    color: #81a2be;
    margin-left: 0.5em;
}
.accordion.active .card-title:after {
    color: #b294bb;
    content: "-";
}
.accordion .card-title:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -0.5em;
    width: 0;
    height: 2px;
    background-color: #81a2be;
    transition: width 0.1s ease-out;
}
.accordion.active.w-15 .card-title:before {
    width: 15ch;
}
.accordion.active.w-14 .card-title:before {
    width: 14ch;
}

.panel {
    margin: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease-out;
    max-height: 0;
}
.accordion.active + .panel {
    max-height: none;
    transform: scaleY(1);
}
.panel .card:last-of-type {
    margin-bottom: 2em;
}

@media only screen and (max-width: 600px) {
    .card-container {
        width: 90%;
    }
    #assignments {
        font-size: 3rem;
    }
    #logo-container {
        font-size: 2rem;
        margin: 1em 0em 1.5em 0em;
    }
}
@media only screen and (max-width: 800px) {
    nav {
        display: none;
    }
}
